@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using SmartStorage_Shared.DTO

@inject ApiExtensions api
@inject ShowDialog ShowDialog
@inject VariablesExtensions app

<MudGrid Class="mt-3">
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            <MudForm Model="user">
                <MudTextField @bind-Value="user.Username" T="string" Label="Login" Required="true" RequiredError="Insira o Login" />
                <MudTextField @bind-Value="user.Password" T="string" Label="Senha" InputType="InputType.Password" RequiredError="Insira a Senha" Required="true" />
                <div class="d-flex justify-start gap-2 mt-3">
                    <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="Sigin">Login</MudButton>
                    <MudButton Variant="Variant.Filled" Color="Color.Secondary">Cadastro</MudButton>
                </div>
            </MudForm>
        </MudPaper>
    </MudItem>
</MudGrid>


@code {

    #region Properties
    UserDTO user = new();

    bool loading = false;

    #endregion

    #region Methods

    private async void Sigin()
    {
        try
        {
            if (string.IsNullOrWhiteSpace(user.Username) || string.IsNullOrWhiteSpace(user.Password))
                return;

            loading = true;

            var result = await api.Post<UserDTO>(user);

            await ShowDialog.ShowDialogAsync("Login realizado com sucesso.", "Sucesso", app.productsInStockPage, EDialogStates.Success);

            StateHasChanged();

            loading = false;
        }
        catch (ApiException ex)
        {
            loading = false;

            var mensagem = $"Falha no login.\n";

            if (ex.Message.Contains("Unauthorized"))
                mensagem += "Usuário ou senha incorreto(s).";

            await ShowDialog.ShowDialogAsync(mensagem, "Erro", state: EDialogStates.Warning);

        }
    }

    #endregion



}