@page "/authentication/register"

@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using SmartStorage_Shared.DTO

@inject ApiExtensions api
@inject ShowDialog ShowDialog
@inject VariablesExtensions app
@inject AuthStateProvider auth;

<MudGrid Class="mt-3">
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            <MudForm Model="accountCredentials">
                <MudTextField @bind-Value="accountCredentials.Fullname" T="string" Label="Nome Completo" Required="true" RequiredError="O Nome é obrigatório!" />
                <MudTextField @bind-Value="accountCredentials.Username" T="string" Label="Login" Required="true" RequiredError="O Login é obrigatório!" />
                <MudTextField @bind-Value="accountCredentials.Password" T="string" Label="Senha" HelperText="Escolha uma senha forte." @ref="pwField1"
                              InputType="InputType.Password"
                              Validation="@(new Func<string, IEnumerable<string>>(PasswordStrength))" Required="true"
                              RequiredError="A senha é obrigatória!" />
                <MudTextField T="string"
                              Label="Confirmar Senha" HelperText="Confirmar Senha" InputType="InputType.Password"
                              Validation="@(new Func<string, string>(PasswordMatch))" />
                <div class="d-flex">
                    <MudRadioGroup T="string" Required="true" RequiredError="O Tipo da Conta é obrigatório!">
                        <MudRadio Value="@("Usuário")">Usuário</MudRadio>
                        <MudRadio Value="@("Administrador")">Administrador</MudRadio>
                    </MudRadioGroup>
                </div>
                <div class="d-flex align-center justify-space-between">
                    <MudButton OnClick="RegisterNewUser" Variant="Variant.Filled" Color="Color.Info" Class="ml-auto">Register</MudButton>
                </div>
            </MudForm>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {

    #region Properties

    bool loading = false;
    MudTextField<string> pwField1;
    AccountCredentialsDTO accountCredentials = new();

    #endregion

    #region Methods

    private async void RegisterNewUser()
    {
        try
        {
            if (string.IsNullOrWhiteSpace(accountCredentials.Username) 
                    || string.IsNullOrWhiteSpace(accountCredentials.Password) 
                    || string.IsNullOrWhiteSpace(accountCredentials.Fullname))
                return;

            loading = true;

            var result = await api.PostRegister(accountCredentials);

            await auth.Logout();

            await ShowDialog.ShowDialogAsync("Cadastro realizado com sucesso.", "Sucesso", "/", EDialogStates.Success);

            StateHasChanged();

            loading = false;
        }
        catch (ApiException ex)
        {
            loading = false;

            await ShowDialog.ShowDialogAsync($"Falha ao cadastrar novo usuário.\n{ex.Message}", "Erro", state: EDialogStates.Warning);
        }
    }

    private IEnumerable<string> PasswordStrength(string pw)
    {
        if (string.IsNullOrWhiteSpace(pw))
        {
            yield return "A Senha é obrigatória!";
            yield break;
        }

        if (pw.Length < 8)
            yield return "A senha deve ter ao menos 8 caracteres";

        if (!Regex.IsMatch(pw, @"[A-Z]"))
            yield return "A senha deve ter ao menos uma letra maiúscula";

        if (!Regex.IsMatch(pw, @"[a-z]"))
            yield return "A senha deve ter ao menos uma letra minúscula";

        if (!Regex.IsMatch(pw, @"[0-9]"))
            yield return "A senha deve ter ao menos um dígito numérico";
    }

    private string PasswordMatch(string arg)
    {
        if (pwField1.Value != arg)
            return "As senhas não conferem";

        return null;
    }

    #endregion
    

    
}