@page "/products/insight"
@using System.Globalization

@inject ApiExtensions api
@inject NavigationManager nav
@inject ShowDialog ShowDialog
@inject VariablesExtensions app

@if(sales is null || loading)
{
    <Loading Message="Carregando Insights..."></Loading>
}
else if(sales.Count == 0)
{
    <MudAlert Severity="Severity.Warning">Não há insights disponíveis.</MudAlert>
}
else
{

    <div style="width:650px; margin-top: 20px">
        <MudPaper Class="doc-section-component-container">
        
                <MudChart ChartType="ChartType.Line" ChartSeries="@_series" @bind-SelectedIndex="_index" XAxisLabels="@_xAxisLabels" Width="650px" Height="350px" />
       
        </MudPaper>
    </div>
}



@code {
    #region Properties

    List<SaleVO>? sales = new();
    private double[] monthlySales = new double[12];

    bool loading = false;

    private int _index = -1;

    private List<ChartSeries> _series = new List<ChartSeries>();

    private string[] _xAxisLabels = { };

    #endregion

    #region Events

    protected override async Task OnInitializedAsync()
    {
        loading = true;

        if (app.Sales is null || app.Sales.Count() == 0)
            sales = await api.Get<SaleVO>();
        else
            sales = app.Sales;

        if (sales is null)
            return;

        var groupedSales = sales
            .GroupBy(s => new { s.DateSale.Year, s.DateSale.Month })
            .OrderBy(g => g.Key.Year)
            .ThenBy(g => g.Key.Month)
            .ToList();

        _xAxisLabels = groupedSales
            .Select(g => new DateTime(g.Key.Year, g.Key.Month, 1)
            .ToString("MMM", new CultureInfo("pt-BR")))
            .ToArray();

        monthlySales = groupedSales
            .Select(g => g.Sum(x => (double)x.SaleTotal))
            .ToArray();

        await LoadChart();

        loading = false;
    }

    #endregion

    #region Methods

    private Task LoadChart()
    {
        _series = new List<ChartSeries>()
        {
            new ChartSeries()
            {
                Name = "Vendas",
                Data = monthlySales
            }
        };

        return Task.CompletedTask;
    }
    #endregion
    
}
