@page "/product/sale/{entryId:int}"
@attribute [Authorize]

@inject ApiExtensions api
@inject NavigationManager nav
@inject ShowDialog ShowDialog
@inject VariablesExtensions app

@if(newSale is null || entry is null || loading)
{
    <Loading Message="Carregando..."></Loading>
}
else
{
    <EditForm Model="newSale" OnValidSubmit="SaleProduct">
        <DataAnnotationsValidator />
        <MudGrid>
            <MudItem xs="12" sm="7" xl="12" Class="mt-3">
                <MudCard>
                    <MudCardContent>
                        <MudTextField Label="Produto" @bind-Value="newSale.ProductName" For="@(() => newSale.ProductName)" Disabled="true" />
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" sm="12" xl="12">
                <div style="display: flex; gap: 8px;">
                    <MudCard>
                        <MudCardContent>
                            <MudNumericField Format="F1" Label="Preço atual" Disabled="true" @bind-Value="entry.ProductPrice" For="(() => entry.ProductPrice)" />
                        </MudCardContent>
                    </MudCard>
                    <MudCard>
                        <MudCardContent>
                            <MudNumericField Label="Quantidade disponível" Disabled="true" @bind-Value="entry.ProductQuantity" For="(() => entry.ProductQuantity)"/>
                        </MudCardContent>
                    </MudCard>
                    <MudCard>
                        <MudCardContent>
                            <MudDatePicker Disabled="true" Label="Data da entrada na prateleira" Color="Color.Info" Date="entry.DateEnter" />
                        </MudCardContent>
                    </MudCard>
                </div>
            </MudItem>
            <MudItem xs="12" sm="12" xl="12">
                <div style="display: flex; gap: 8px;">
                    <MudCard>
                        <MudCardContent>
                            <MudNumericField T="int" Label="Quantidade da venda" For="(() => newSale.Qntd)" ValueChanged="CalculateTotal"/>
                        </MudCardContent>
                    </MudCard>
                    <MudCard>
                        <MudCardContent>
                            <MudDatePicker Label="Data da venda" Color="Color.Info" @bind-Date="dateSale"/>
                        </MudCardContent>
                    </MudCard>
                </div>
            </MudItem>
            <MudItem xs="12" sm="12" xl="12">
                <div style="display: flex; gap: 8px;">
                    <MudCard>
                        <MudCardContent>
                            <MudNumericField Format="F2" Label="Total a pagar" Value="totalValue" Disabled="true" For="(() => totalValue)" />
                        </MudCardContent>
                    </MudCard>
                </div>
            </MudItem>
            <MudItem xs="12" sm="12">
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Tertiary" Class="ml-auto">Vender</MudButton>
            </MudItem>
        </MudGrid>
    </EditForm>
}

@code {

    #region Properties

    [Parameter]
    public int entryId { get; set; }

    private SaleVO? newSale = new();
    private EnterVO? entry = new();
    private ProductVO? product = new();

    DateTime? dateSale = DateTime.Now;

    private bool loading = false;

    private decimal totalValue => entry!.ProductPrice * newSale!.Qntd;

    #endregion

    #region Events

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            loading = true;

            if (entryId != 0)
            {
                if (app.ActualEntry is null)
                    entry = await api.GetById<EnterVO>(entryId);
                else
                    entry = app.ActualEntry;

                if(entry is not null)
                {
                    if (app.ActualProduct is null)
                        product = await api.GetById<ProductVO>(entry.ProductId);
                    else
                        product = app.ActualProduct;
                }
            }

            AtribuirDados();

            loading = false;
        }
        catch (ApiException ex)
        {
            loading = false;

            await ShowDialog.ShowDialogAsync($"Erro ao buscar entrada e produto.\n{ex.Message}", "Error", state: EDialogStates.Warning);

            nav.NavigateTo(app.productsInStockPage);
        }
    }

    #endregion

    #region Methods

    private async Task SaleProduct()
    {
        try
        {
            loading = true;

            AtribuirDados();

            if (entry is null || newSale is null)
                return;

            await api.Post<SaleVO>(newSale);

            app.ProductEntries = await api.Get<EnterVO>();
            app.Sales = await api.Get<SaleVO>();

            await ShowDialog.ShowDialogAsync("Produto vendido com sucesso", "Sucesso", app.productsInShelvesPage, EDialogStates.Success);

            StateHasChanged();

            loading = false;
        }
        catch (ApiException ex)
        {
            loading = false;

            await ShowDialog.ShowDialogAsync($"Erro atualizando a venda.\n{ex.Message}", "Erro", state: EDialogStates.Warning);
        }
    }

    private void AtribuirDados()
    {
        if (product is null || entry is null || newSale is null)
            return;

        newSale.ProductName = product.Name;
        newSale.DateSale = Convert.ToDateTime(dateSale.ToString());
        newSale.IdEnter = entry.Id;
        newSale.ProductId = product.Id;  
    }

    private void CalculateTotal(int qntd)
    {
        if (newSale is null || entry is null)
            return;

        newSale.Qntd = qntd;
        newSale.SaleTotal = entry.ProductPrice *  qntd;
    }

    #endregion

    

}
