<MudAlert Severity="Severity.Info" Variant="Variant.Outlined" Class="mt-3">
    <div style="display: flex; gap: 8px;">
        <MudImage Fluid="true" Width="50" Height="100" Src="images/loading.gif" Alt="Swedish Farm House" Class="rounded-lg" />

        @if(string.IsNullOrWhiteSpace(Message))
        {
            <MudText>Carregando...</MudText>
        }
        else
        {
            <MudText>@Message</MudText>
        } 
    </div>
</MudAlert>

@code{
    [Parameter]
    public string? Message { get; set; }
}

