@page "/"
@using System.Security.Claims

@inject ApiExtensions api
@inject VariablesExtensions app
@inject ShowDialog ShowDialog
@inject AuthStateProvider auth

@if (loading)
{
    <Loading Message="Carregando dados..."></Loading>
}
else
{
    <AuthorizeView Context="auth">
        <Authorized>
            <h1>SmartStorage - Controle Inteligente</h1>
            <br />
            <h2>Bem vindo, @(auth.User.FindFirst("unique_name")?.Value).</h2>
            @if (auth.User.IsInRole("Administrador"))
            {
                <h5>Administrador</h5>
            }
            else
            {
                <h5>Usuário</h5>
            }
        </Authorized>
        <NotAuthorized>
            <Login></Login>
        </NotAuthorized>
    </AuthorizeView>
}

@code{

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    ClaimsPrincipal? user { get; set; }

    bool loading = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            loading = true;

            var authState = await authenticationState;
            user = authState.User;

            if (user.Identity!.IsAuthenticated)
            {
                if (app.ProductInStock?.Count == 0)
                    app.ProductInStock = await api.Get<ProductVO>();

                if (app.Employees?.Count == 0)
                    app.Employees = await api.Get<EmployeeVO>();

                if (app.Shelves?.Count == 0)
                    app.Shelves = await api.Get<ShelfVO>();

                if (app.ProductEntries?.Count == 0)
                    app.ProductEntries = await api.Get<EnterVO>();

                if (app.Sales?.Count == 0)
                    app.Sales = await api.Get<SaleVO>();

                if (app.User.Id == 0)
                    app.User = await api.GetUserByUsername(user.FindFirst("unique_name")?.Value);

                StateHasChanged();
            }
        }
        catch (ApiException ex)
        {
            auth.Logout();
        }
        finally
        {
            loading = false;
        }
    }
}


