@page "/"
@using System.Security.Claims

@inject ApiExtensions api
@inject VariablesExtensions app

<AuthorizeView>
    <Authorized>
        <h1>SmartStorage - Controle Inteligente</h1>
        <br />
        <h2>Bem vindo, @context.User.FindFirst("unique_name")?.Value</h2>
        @if (context.User.FindFirst(ClaimTypes.Role)?.Value != "Usuario")
        {
            <h5>Administrador</h5>
        }
        else
        {
            <h5>Usuário</h5>
        }
    </Authorized>
    <NotAuthorized>
        <Login></Login>
    </NotAuthorized>
</AuthorizeView>

@code{

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationState;
        var user = authState.User;
        
        if (user.Identity!.IsAuthenticated)
        {
             app.Employees = await api.Get<EmployeeVO>();
             app.Shelves = await api.Get<ShelfVO>();
             app.ProductEntries = await api.Get<EnterVO>();
             app.Sales = await api.Get<SaleVO>();
        }
    }
}


