@page "/"
@using System.Security.Claims

@inject ApiExtensions api
@inject VariablesExtensions app

<AuthorizeView>
    <Authorized>
        <h1>Bem vindo, @context.User.Identity.Name!</h1>
        <br />
        @if (context.User.IsInRole("Admin"))
        {
            <textarea>Administrador</textarea>
        }
    </Authorized>
    <NotAuthorized>
        <Login></Login>
    </NotAuthorized>
</AuthorizeView>

@code{

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationState;
        var user = authState.User;

        if (user.Identity!.IsAuthenticated)
        {
         app.Employees = await api.Get<EmployeeVO>();
         app.Shelves = await api.Get<ShelfVO>();
         app.ProductEntries = await api.Get<EnterVO>();
         app.Sales = await api.Get<SaleVO>();
        }
    }
}


