@page "/"
@using System.Security.Claims

@inject ApiExtensions api
@inject VariablesExtensions app

<AuthorizeView Context="auth">
    <Authorized>
        <h1>SmartStorage - Controle Inteligente</h1>
        <br />
        <h2>Bem vindo, @(user.FindFirst("unique_name")?.Value).</h2>
        @if (auth.User.IsInRole("Administrador"))
        {
            <h5>Administrador</h5>
        }
        else
        {
            <h5>Usuário</h5>
        }
    </Authorized>
    <NotAuthorized>
        <Login></Login>
    </NotAuthorized>
</AuthorizeView>

@code{

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    ClaimsPrincipal? user { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationState;
        user = authState.User;
        
        if (user.Identity!.IsAuthenticated)
        {
            if(app.Employees?.Count == 0)
                app.Employees = await api.Get<EmployeeVO>();

            if (app.Shelves?.Count == 0)
                app.Shelves = await api.Get<ShelfVO>();

            if (app.ProductEntries?.Count == 0)
                app.ProductEntries = await api.Get<EnterVO>();

            if (app.Sales?.Count == 0)
                app.Sales = await api.Get<SaleVO>();
                
            if (string.IsNullOrWhiteSpace(app.User?.Username))
                app.User = await api.GetUser(user.FindFirst("unique_name")?.Value);
        }
    }
}


